# --- Git ---
# Важно: пишем просто .git, а не *.git, чтобы игнорировать саму скрытую папку
.git
.gitignore

# --- Сборки и логи ---
# Убираем звездочки, так Докер будет искать эти папки в корне проекта
bin/
logs/

# --- Секреты ---
.env
.env.*

# --- Настройки IDE (редакторов кода) ---
# Настройки твоего редактора не должны влиять на сборку в контейнере
.vscode/
.idea/

# --- Системные файлы ОС ---
# Мусор, который создают macOS или Windows
.DS_Store
Thumbs.db

# --- Файлы самого Докера и документация ---
# Compose-файл и ридми нужны только для запуска, самому приложению внутри они не сдались
docker-compose.yml
docker-compose.*.yml
README.md